## **Provide Insights to Chief Operations in Transportation Domain**

- **Domain** :- Transportation & Mobilty
- **Fuctions** :- Operatins

#### **Problem Statements** 



Goodcabs, a cab service company established two years ago, has gained a strong foothold in the Indian market by focusing on tier-2 cities. Unlike other cab service providers, Goodcabs is committed to supporting local drivers, helping them make a sustainable living in their hometowns while ensuring excellent service to passengers. With operations in ten tier-2 cities across India, Goodcabs has set ambitious performance targets for 2024 to drive growth and improve passenger satisfaction.

#### **Project Goals**

The analysis is centered around growing trip volumes, passenger satisfaction, and repeat bookings for Goodcabs. Through the determination of important trends and operational optimization, overall performance is aimed to be enhanced. These findings will assist Goodcabs in reaching its customer retention and growth goals.

#### **Data Overview**


![ED Diagram](ERD.png)

#### Import Necessary Library

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
city_target = pd.read_csv('city_target_passenger_rating.csv')

In [4]:
dim_city = pd.read_csv('dim_city.csv')

In [5]:
dim_date = pd.read_csv('dim_date.csv')
dim_date['date'] = pd.to_datetime(dim_date['date'])
dim_date['start_of_month'] = pd.to_datetime(dim_date['start_of_month'])

In [6]:
dim_repeat_trip = pd.read_csv('dim_repeat_trip_distribution.csv')
dim_repeat_trip['month'] = pd.to_datetime(dim_repeat_trip['month'])

In [7]:
fact_passenger = pd.read_csv('fact_passenger_summary.csv')
fact_passenger['month'] = pd.to_datetime(fact_passenger['month'])

In [8]:
fact_trips = pd.read_csv('fact_trips.csv')
fact_trips['date'] = pd.to_datetime(fact_trips['date'])

C:\Users\HP\AppData\Local\Temp\ipykernel_12016\4042068057.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  fact_trips['date'] = pd.to_datetime(fact_trips['date'])

In [9]:
monthly_target = pd.read_csv('monthly_target_new_passengers.csv')
monthly_target['month'] = pd.to_datetime(monthly_target['month'])

In [10]:
monthly_target_trips = pd.read_csv('monthly_target_trips.csv')
monthly_target_trips['month'] = pd.to_datetime(monthly_target_trips['month'])

In [12]:
monthly_target_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   month               60 non-null     datetime64[ns]
 1   city_id             60 non-null     object
 2   total_target_trips  60 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.5+ KB

In [13]:
fact_trips

,trip_id,date,city_id,passenger_type,distance_travelled_km,fare_amount,passenger_rating,driver_rating
0,TRPLUC240113d55de2fb,2024-01-13,UP01,repeated,11,158,5,5
1,TRPVAD240129a3b6dba8,2024-01-29,GJ02,repeated,7,74,5,5
2,TRPCOI240107a42430fb,2024-01-07,TN01,repeated,11,155,8,8
3,TRPKOC240325d7601389,2024-03-25,KL01,repeated,36,427,9,10
4,TRPVIS2406027be97166,2024-06-02,AP01,new,17,265,8,8
...,...,...,...,...,...,...,...,...
425898,TRPLUC2403180b02b4d0,2024-03-18,UP01,repeated,12,134,5,5
425899,TRPVAD2401032679e669,2024-01-03,GJ02,repeated,12,114,7,5
425900,TRPJAI24022578e10280,2024-02-25,RJ01,repeated,26,479,7,10
425901,TRPJAI240401e297ad20,2024-04-01,RJ01,repeated,27,361,7,10
425902,TRPJAI24021056f0e951,2024-02-10,RJ01,new,37,666,9,10